#wolf1 {
    position: absolute;
    left: -200px;
    /*top: 240px;*/
    width: 100px;
}

#lamb {
    position: absolute;
    left: 500px;
    /*top: 240px;*/
}

#board {
    height: 500px;
    width: 1000px;
    background-color: rgb(6, 136, 119);
    align-content: center;
    align-self: center;
}

#title {
    background-color: rgb(128, 128, 128);
    align-content: center;
    align-self: center;
}

#scores {
    background-color: rgb(247, 134, 241);
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
}